body {
    display: flex;
    flex-direction: column;
}

.container1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0 300px;
}

.section {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    padding: 16px;
    margin-right: auto;
    font-weight: 500;
}

img {
    margin-left: auto;
    padding: 80px 0 100px 0px;
    height: 200px;
    width: 200px;
}

.main-txt {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secondary-txt {
    font-size: 18px;
    color: #e5e7eb;
}

.button1 {
    background-color: #3882f6;
    font-weight: 800;
    color: #F9FAF8;
    border-radius: 10px;
    border: #3882f6;
    padding: 8px 16px;
}

.img-txt {
    padding: 50px 0;
}

.img-subtext {
    display: flex;
    gap: 64px;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-info {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote-txt {
    display: flex;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    justify-content: center;
    align-items: center;
}

.quote-owner {
    display: flex;
    font-size: 18px;
    color: #1f2937;
    font-weight: 800;
    justify-content: right;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.call-to-action {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 32px 128px;
    gap: 64px;
    align-items: center;
    margin: 64px;
}

.button2 {
    background-color: #3882f6;
    font-weight: 800;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 8px 16px;
    height: 40px;
    width: 140px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#e5e7eb;
    padding: 32px 0;
}